.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--typical-margin));
    margin-bottom: calc(-1 * var(--typical-margin));
}

.element {
    width: calc(100% / 3 - var(--typical-margin));
    margin-right: var(--typical-margin);
    margin-bottom: var(--typical-margin);
}

.link-work {
    transition: filter var(--timing-function);
    display: block;
    color: var(--primary-text-color);
    text-decoration: none;
    &:hover,
    &:focus {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}


.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.text-action {
    position: absolute;
    @include flex;

    width: 100%;
    height: 100%;
    padding: 0 24px 0 24px;
    margin: 0;
    top: 0;
    left: 0;

    transition: transform var(--timing-function);
    transform: translateY(101%);

    background-color: rgba(33, 150, 243, 0.9);
    
    .link-work:hover &,
    .link-work:focus & {
        transform: translateY(0);

        @include font(18px, 400, 1.56, 0.03em);
        color: #ffffff;
    }
}


.work {
    padding: 24px 20px;
    background: var(--white-color);
    border: 1px solid #eeeeee;
    border-top: none;
}

.portfolio-subtitle { 
    color: var(--title-color);
    @include font(18px, 700, 2, 0.06em);
    margin-bottom: 4px;
}

li>p {
    line-height: 1.9;
    color: var(--primary-text-color);
}