/* -------------- Gellary---------------- */
.gallery {
    padding-top: 0;
}

.gallery__list {
    display: flex;
    position: relative;

    li {
        width: calc(100% / 3 - var(--typical-margin));
        margin-right: var(--typical-margin);

        &:last-child {
            margin-right: 0;
        }
    }
}


.gellery__overlay {
    position: relative;
}

.gellery__desc {
    @include flex;
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
    bottom: 0;

    @include font(14px, 700, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--white-color);
    
}