* {
    box-sizing: border-box;
}

body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: $font-family;
    font-size: $font-size;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

img {
    display: block;
    max-width: 100%;
}

