@mixin font($fs, $fw, $lh, $ls) {
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin flex($fl:flex, $jc:center, $ai:center) {
    display: $fl;
    justify-content: $jc;
    align-items: $ai;
}